In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('LA-UR-05-7318-failure-data-1996-2005.csv')
df.head()

,System,machine type,nodes,procstot,procsinnode,nodenum,nodenumz,node install,node prod,node decom,...,Prob Started (mm/dd/yy hh:mm),Prob Fixed (mm/dd/yy hh:mm),Down Time,Facilities,Hardware,Human Error,Network,Undetermined,Software,Same Event
0,2,cluster,49.0,6152.0,80.0,0.0,0.0,5-Apr,5-Jun,current,...,6/21/2005 10:54,6/21/2005 11:00,6,NaN,Graphics Accel Hdwr,NaN,NaN,NaN,NaN,No
1,2,cluster,49.0,6152.0,80.0,0.0,0.0,5-Apr,5-Jun,current,...,9/6/2005 9:13,9/6/2005 9:19,6,NaN,NaN,NaN,NaN,NaN,Other Software,No
2,2,cluster,49.0,6152.0,80.0,0.0,0.0,5-Apr,5-Jun,current,...,9/6/2005 10:32,9/6/2005 10:46,14,NaN,NaN,NaN,NaN,Undetermined,NaN,No
3,2,cluster,49.0,6152.0,80.0,0.0,0.0,5-Apr,5-Jun,current,...,9/6/2005 14:50,9/6/2005 15:08,18,NaN,NaN,NaN,NaN,NaN,Other Software,No
4,2,cluster,49.0,6152.0,80.0,0.0,0.0,5-Apr,5-Jun,current,...,9/8/2005 16:52,9/8/2005 16:57,5,NaN,NaN,NaN,NaN,Undetermined,NaN,No

In [9]:
unique_values = df['System'].unique()
print(unique_values,"-->", len(unique_values))

[ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24] --> 23

In [10]:
unique_values = df['nodes'].unique()
print(unique_values,"-->", len(unique_values))

[4.900e+01 1.280e+02 3.200e+01 1.000e+00 1.640e+02 2.560e+02 5.120e+02
 1.600e+01       nan 1.024e+03 5.000e+00] --> 11